{#
/**
 * @file
 * Footer menu template.
 * An in page menu that is displayed in the footer.
 */
#}

{%
  set menu_ids = [
   'footer-about-us',
   'footer-our-work',
   'footer-resources',
   'footer-get-involved',
   'footer-contact-us',
  ]
%}

{%
  set menu_titles = [
    'About Us',
    'Our Work',
    'Resources',
    'Get Involved',
    'Contact Us',
   ]
%}

<div class="layout layout--onecol footer--onecol container-fluid mt-3 px-5">
	<div class="layout__region layout__region--content row justify-content-center pt-5 pb-3">
		{% for menu_id in menu_ids %}
			{% set col_styles = 'col-6 col-lg-2' %}
			{% if menu_id == 'footer-contact-us' %}
				{% set col_styles = 'col-lg-3' %}
			{% endif %}
			<nav role="navigation" aria-labelledby="{{ menu_id }}-menu" class="block block-menu navigation menu--footer menu--{{menu_id}} {{ col_styles }}">
				{% if menu_id == 'footer-contact-us' %}
				    <a href="/contact-us"><h2 id="{{ menu_id }}-menu" class="footer-menu-item footer-menu-{{ menu_titles[loop.index0] }}">{{ menu_titles[loop.index0]|t }}</h2></a>
					<h3 class="h2 mt-4">{{ 'Follow Us'|t }}</h3>
				{% elseif menu_id == 'footer-get-involved' %}
                    <a href="/get-involved"><h2 id="{{ menu_id }}-menu" class="footer-menu-item footer-menu-get-involved nav-link--get-involved btn btn-primary fw-bold">{{ menu_titles[loop.index0]|t }}</h2></a>
				{% else %}
					<h2 id="{{ menu_id }}-menu" class="footer-menu-item footer-menu-{{ menu_titles[loop.index0]|clean_class }}">{{ menu_titles[loop.index0]|t }}</h2>
				{% endif %}
				{{ drupal_menu(menu_id) }}
			</nav>
		{% endfor %}
	</div>
</div>
