{#
/**
 * @file
 * Theme partial to display the wide format news card content
 *
 * @see calling templates for available variables and hooks
 *
 */
#}

<a href="{{ link_url }}" target="{{ target }}" class="d-flex h-100">
	<div class="row g-0 related-committees">
		<div class="col-sm-12 col-xl-6">
			<img src="{{ fields.field_hero_image.content|striptags|trim|raw }}"
			  class="img-fluid rounded-start"
			  alt="{{ fields.field_hero_image_1.content }}"
			>
		</div>
		<div class="col-sm-12 col-xl-6">
			<div class="card-body">
				<h4 class="card-title h6 fw-bold">{{ fields.field_page_title.content }}</h4>
				<p class="card-text">{{ fields.body.content }}</p>
			</div>
		</div>
	</div>
</a>
