{#
/**
 * @file
 * Theme CTA button component.
 *
 * Available variables:
 * - url: URL of the link.
 * - target: Target of the link.
 * - text: Text of the link.
 * - extra_classes: Extra classes to add to the button.
 * - btn_classes: Classes to add to the button.
 *
 * @see Various calling templates
 */
#}

{% if url is not empty %}
    {% set text = text %}
    {% if btn_classes is defined %}
        {% set btn_classes = btn_classes|trim ~ (extra_classes ? ' ' ~ extra_classes : '') %}
        <a href="{{ url }}" class="{{ btn_classes }}" target="{{ target }}">
            {{ text }}
        </a>
    {% else %}
        <a href="{{ url }}" class="btn btn-primary {{ extra_classes }}" target="{{ target }}">
            {{ text }}
        </a>
    {% endif %}
{% endif %}
