{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{# Set up variables to be used #}
{% set bg_colour = fields.field_background_colour.content|striptags|trim %}
{% set cb_attribs = create_attribute() %}
{% set flex_classes = [
  'card-body',
  'd-flex',
  'justify-content-center',
  'align-items-center',
] %}
{% set term = fields.name.content|striptags|trim|raw|clean_class %}
{% set tid = fields.tid.content|striptags|trim|raw %}

<div class="card w-100 news-topic-card" data-term="{{term}}" data-href="/taxonomy/term/{{term}}">
  {# <img src="..." class="card-img-top" alt="..."> #}
  {% if bg_colour %}
    <div{{cb_attribs.addClass(flex_classes)}} style="background-color: {{bg_colour}};">
  {% else %}
    <div{{cb_attribs.addClass(flex_classes)}}>
  {% endif %}
    <div>
      {{ fields.field_topic_icon.content }}
    </div>
  </div>
  <div class="card-footer">
    <a href="/taxonomy/term/{{tid}}">
      <h5 class="text-center">{{ fields.name.content }}</h5>
    </a>
  </div>
</div>

