{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 * - Custom variables:
 *   - is_contact_page: (optional) Boolean indicating if the current page is
 *
 * @see template_preprocess_status_messages()
 *
 * @ingroup themeable
 */
#}
{# {{ attach_library('bootstrap_barrio/alerts') }} #}
{% set has_success_msg = 0 %}
{% for type, messages in message_list %}
     {% if type == 'status' %}
        {# break out of the loop #}
        {% set has_success_msg = 1 %}
     {% endif %}
{% endfor %}
{# See if there are any messages in the message_list #}
{% if has_success_msg and is_contact_page %}
   <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#submissionMsg" data-bs-whatever="@mdo">Open modal for @mdo</button>
   <div class="modal fade" id="submissionMsg" tabindex="-1" aria-labelledby="submissionMsgLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header d-flex flex-column">
   	    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
   		    <img src="{{ base_path ~ directory }}/logo-black.svg" alt="{{ 'Home'|t }}" class="img-fluid d-inline-block align-top"/>
   	    </a>
           <h1 class="modal-title fs-5" id="submissionMsgLabel">Your submission was successful.</h1>
           {# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> #}
         </div>
         <div class="modal-body">
           <p>We welcome your comments and will get back to you within two (2) business days.</p>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-route="home">Go Home</button>
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Send Another</button>
         </div>
       </div>
     </div>
   </div>
{% else %}
    {{ attach_library('bootstrap_barrio/alerts') }}
    {% include "@bootstrap_barrio/misc/status-messages.html.twig" %}
{% endif %}
