{#
 /**
  * @file
  * Custom theme implementation to display social badges by platform
  *
  * Available variables:
  * - item_title: The title of the social badge.
  * - item_url: The URL of the social badge.
  * - classes: A list of CSS classes to apply to the social badge.
  * - el: The HTML element to use for the social badge.
  */
 #}
{% macro social_badge(el, item_title, item_url, classes) %}

	{% if el is empty %}
		{% set el = 'li' %}
	{% endif %}

	{% set attr = create_attribute() %}

	<{{el}} {{attr.addClass(classes)}}>
		<a href="{{ item_url }}" target="_blank" title="{{ item_title|capitalize }}"
		    class="social-link align-self-center fs-5">
			{# <i class="{{ icon }}"></i> #}
			{% include "@abrsd/svg/" ~ item_title ~ '.html.twig' %}
		</a>
	</{{el}}>
{% endmacro %}
